.container{
           background-image: url("");
           background-repeat: no-repeat;
           background-size: cover;
    }



.services{background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true");
          color: white;

}



h2{text-align: center;
   color:white;

}
