.container{
           background-image: url("");
           background-repeat: no-repeat;
           background-size: cover;
    }



    h1{color:white}
    .background{background-color: yellow;}
    img{size:1300px}